body {
    background-image: url("revolver cylinder images/table.jpg");
}


h1 {
    font-size: 66px;
    margin-bottom: 1px;
    color: black;
    font-family: "Bangers", serif;
    font-weight: 400;
    font-style: normal;
}

.game-container {
    background-image: url("revolver cylinder images/gun-metal.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 90px;
    background-color: grey;
    height: 700px;
    width: 500px;
}

img {
    margin-top: 27px;
}

p {
    color: red;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




button {
    margin-top: 25px;
    height: 70px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    border-width: 5px;
    border-color: black;
    
}

